/** Twitter CSS overrides **/

/** SIDEBAR TRENDS **/
.Trends, .trends {
  display: none !important;
}

/** SIDEBAR WHO-TO-FOLLOW **/
.wtf-module, .js-wtf-module {
  display: none !important;
}

/** NOTIFICATIONS RED ICON **/
.count.new-count {
  background: transparent !important;
  left: 17px !important;
  top: 13px !important;
  font-size: 10px !important;
  font-family: monospace !important;
}
.count.new-count .count-inner {
  color: #585858;
  background: transparent !important;
}

/** NEW TWITTER **/

/** SIDEBAR TRENDS **/
*[aria-label="Timeline: Trending now"] {
  display: none !important;
}

/** SIDEBAR WHO-TO-FOLLOW **/
*[aria-label="Who to follow"] {
  display: none !important;
}

/** NOTIFICATIONS BLUE ICONS **/
*[data-testid=AppTabBar_DirectMessage_Link] svg + div, *[data-testid=AppTabBar_Notifications_Link] svg + div{
  filter: saturate(0%);
}

*[data-testid=AppTabBar_DirectMessage_Link] [aria-live=polite], *[data-testid=AppTabBar_Notifications_Link] [aria-live=polite]{
  font-size: 8px;
}